version: '3'

services:
  backend:
    image: maxileith/fluginfo-backend:latest
    container_name: fluginfo_backend
    restart: always
    environment:
      - FLUGINFO_BACKEND_AMADEUS_API_SECRET=secret
      - FLUGINFO_BACKEND_AIRHEX_API_KEY=key
      - FLUGINFO_BACKEND_AMADEUS_API_KEY=key
      - FLUGINFO_BACKEND_DEBUG=false
      - FLUGINFO_BACKEND_DJANGO_SECRET_KEY=secret
      - FLUGINFO_BACKEND_HOSTNAME=domain.tld
      - FLUGINFO_BACKEND_FRONTEND_HOSTNAME=domain.tld
    ports:
      - 0.0.0.0:80:80